body, input, button, select, textarea {
    margin: 0;
    font-family: 'Times New Roman', sans-serif; /* Replace with your chosen font */
}


.content {
    width: 80%; /* Adjust this width as needed */
    max-width: 1200px; /* Optional: max-width for larger screens */
    margin: 0 auto; /* This centers the content horizontally */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black; /* Example background color */
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white; /* Example text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: black; /* Example hover color */
}

/* Dropdown Content (Hidden by default) */
nav li ul {
    display: none;
    position: absolute;
    min-width: 160px; /* Set min-width for dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: for dropdown shadow */
    z-index: 1;
}

/* Show dropdown on hover */
nav li:hover > ul {
    display: block;
}

/* Style dropdown links */
nav li ul li {
    float: none;
    background-color: black; /* Example dropdown background color */
    padding: 12px 16px;
    text-align: left;
}

nav li ul li:hover {
    background-color: black; /* Example dropdown hover color */
}

nav select {
    padding: 14px 16px; /* Same padding as the links for vertical alignment */
    font-size: inherit; /* Match font size of the nav links */
    margin: 0; /* Remove any default margin */
    border: none; /* Optional: removes border */
    background-color: black; /* Match the navbar background color */
    color: white; /* Match the navbar text color */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

/* Style for the dropdown options */
nav select option {
    background-color: white; /* Background color for options */
    color: black; /* Text color for options */
}

.image-with-description {
    text-align: center; /* Center align the content */
    margin-bottom: 20px; /* Add some space below each image and description */
}

.image-with-description img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.image-with-description .description {
    color: #666; /* Description text color */
    font-size: 0.8em; /* Smaller font size for the description */
    margin-top: 5px; /* Space between the image and the description */
}

/* Additional styling for poetry to set it apart */
.poetry {
    white-space: pre-wrap; /* Maintains whitespace formatting */
    font-family: 'Courier New', monospace; /* Gives a typewriter-like effect */
    text-align: left; /* Align text to the left for traditional look */
    margin: 20px 0; /* Adds vertical space around the poetry */
  }